<aol-map [logo]="true" [width]="width" [height]="height" (onSingleClick)="onSingleClick($event)">
	<aol-interaction-default></aol-interaction-default>
	<aol-view [zoom]="zoom">
		<aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'"></aol-coordinate>
	</aol-view>
	<aol-layer-tile [opacity]="opacity">
		<aol-source-osm></aol-source-osm>
	</aol-layer-tile>
	<aol-layer-vector [opacity]="opacity">
		<aol-source-vector>
			<aol-feature>
				<aol-geometry-point>
					<aol-coordinate [x]="longitudePointer" [y]="latitudePointer" [srid]="'EPSG:4326'"></aol-coordinate>
				</aol-geometry-point>
				<aol-style>
					<aol-style-circle [radius]="10">
						<aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
						<aol-style-fill [color]="'green'"></aol-style-fill>
					</aol-style-circle>
				</aol-style>
			</aol-feature>
			<aol-feature>
				<aol-geometry-point>
					<aol-coordinate [x]="longitudePointer" [y]="latitudePointer" [srid]="'EPSG:4326'"></aol-coordinate>
				</aol-geometry-point>
			</aol-feature>
		</aol-source-vector>
	</aol-layer-vector>
	<aol-control>
		<aol-content>
      <div *ngIf="showControlsZoom" class="ol-overlaycontainer-stopevent">
        <div class="ol-zoom ol-unselectable ol-control">
          <button [title]="'osmap.location.zoomIn' | translate" class="ol-zoom-in" type="button" title="Zoom in" (click)="increaseZoom()">+</button>
          <button [title]="'osmap.location.zoomOut' | translate" class="ol-zoom-out" type="button" title="Zoom out" (click)="decreaseZoom()">−</button>
        </div>
        <div *ngIf="showControlsCurrentLocation && position" class="ol-rotate ol-unselectable ol-control">
          <button [title]="'osmap.location.currentLocation' | translate" (click)="setCurrentLocation($event)">&#8982;</button>
        </div>
      </div>
    </aol-content>
  </aol-control>
</aol-map>

<ng-container *ngIf="showDebugInfo">
<pre>
latitude:{{latitude}}
longitude:{{longitude}}
latitudePointer:{{latitudePointer}}
longitudePointer:{{longitudePointer}}
pointedAddress:{{pointedAddress}}
pointedAddressOrg:{{pointedAddressOrg}}
</pre>
</ng-container>