.citation-text {
  white-space: pre-wrap;
  word-break: break-word;
  background: var(--bs-light, #f8f9fa);
  padding: 1rem 1rem 0 1rem;
  font-style: italic;
  font-size: smaller;
}

.citation-title {
  font-size: smaller;
  border-bottom: 0.25px solid #e6e6e6;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;


  p {
    margin-bottom: 0px;
    color: #666666;
  }

  i {
    color: var(--bs-primary);
  }
}

:host::ng-deep {
  ds-truncatable-part {
    .content {
      display: flex;
      flex-direction: column;
    }

    .content::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--bs-light, #f8f9fa) 70%);
    }
  }

  .text-no-margin {
    p {
      margin-bottom: 0;
    }
  }

  ol {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}