<div  class="playlist-products"
      infiniteScroll
      [fromRoot]="true"
      [infiniteScrollContainer]="'.playlist'"
      (scrolled)="onScrollDown()">
  <ul class="playlist">
    <li *ngFor="let item of (mediaViewerItemList$ | async); let $index = index"
      (click)="emitSelectItem(item, $index)"
      class="playlist-item-list"
      [class.selected]="item === selectedItem">
      <div class="playlist-img">
        <img [src]="item.thumbnail ? item.thumbnail : ALT_IMAGE" alt="no image"/>
      </div >
      <div class="playlist-description">
        <p class="content-name"><b>{{item.name}}</b></p>
        <p class="content-size">{{item.bitstream.sizeBytes | dsFileSize}}</p>
        <p class="content-format"> {{item.formatDescription}}</p>
      </div>
    </li>
    <li></li>
  </ul>
</div>
