<ng-container *ngIf="!hasNoDownload">
  <ng-container *ngIf="canDownload$ | async; else requestACopyTpl">
    <a
      *ngIf="bitstreamPath$ | async as downloadLink"
      [routerLink]="downloadLink?.routerLink" [queryParams]="downloadLink?.queryParams"
      class="btn btn-outline-primary"
      data-test="download">
      <i class="fas fa-download"></i>
      {{ 'cris-layout.advanced-attachment.download' | translate }}
    </a>
  </ng-container>

  <ng-template #requestACopyTpl>
    <a
      *ngIf="bitstreamPath$ | async as requestACopyLink"
      [routerLink]="requestACopyLink?.routerLink" [queryParams]="requestACopyLink?.queryParams"
      class="btn btn-outline-primary" data-test="requestACopy">
      {{ 'cris-layout.advanced-attachment.requestACopy' |
      translate }}
    </a>
  </ng-template>
</ng-container>
