<div *ngIf="(initialized | async)" [class]="'table-container d-flex flex-column ' + valueStyle">
  <div class="table-responsive">
    <table class='table table-borderless'>
      <tr>
        <td *ngFor="let field of metadataGroup" class="table-light {{field.styleLabel}}">
          <span [innerHTML]="getLabel(field)"></span>
        </td>
      </tr>
      <tr *ngFor="let index of firstLimitedDataToBeRenderedMap.keys();">
        <td *ngFor="let mdg of firstLimitedDataToBeRenderedMap.get(index)">
          <ds-metadata-render class="w-100" [item]="item" [field]="mdg.field" [metadataValue]="mdg.value">
          </ds-metadata-render>
        </td>
      </tr>

      <td class="view-text text-center more-td" *ngIf="isConfigured" [attr.colspan]="metadataGroup.length">
        <a class="d-block" id="a-more" (click)="setData('fillAllData')" href="javascript:void(0);"
          *ngIf="componentsToBeRenderedMap.size != lastLimitedDataToBeRenderedMap.size + firstLimitedDataToBeRenderedMap.size">
          <a>
            <i class="fas fa-chevron-down"></i>
          </a> 
          <a [ngbTooltip]=" 'cris-layout.rendering.more' | translate ">
            {{"cris-layout.rendering.more" | translate}}
          </a>          
        </a>

        <a class="d-block" id="a-collaose" (click)="setData('getComputedData')" href="javascript:void(0);"
          *ngIf="componentsToBeRenderedMap.size == lastLimitedDataToBeRenderedMap.size + firstLimitedDataToBeRenderedMap.size">
          <a>
            <i class="fas fa-chevron-up"></i>
          </a>
          <a [ngbTooltip]=" 'cris-layout.rendering.collapse' | translate ">
            {{"cris-layout.rendering.collapse" | translate}}
          </a>
        </a>
      </td>

      <tr *ngFor="let index of lastLimitedDataToBeRenderedMap.keys();">
        <td *ngFor="let mdg of lastLimitedDataToBeRenderedMap.get(index)">
          <ds-metadata-render class="w-100" [item]="item" [field]="mdg.field" [metadataValue]="mdg.value">
          </ds-metadata-render>
        </td>
      </tr>
    </table>
  </div>
</div>