<div *ngIf="(initialized | async)" [class]="'table-container d-flex flex-column ' + valueStyle">
  <div class="table-responsive">
    <table class='table table-borderless'>
      <tr>
        <td *ngFor="let field of metadataGroup" class="table-light {{field.styleLabel}}">
          <span [innerHTML]="getLabel(field)"></span>
        </td>
      </tr>
      <ds-crisref-more [componentsToBeRenderedMap]="componentsToBeRenderedMap" [rendering]="fieldProvider.rendering" [renderingType]="'table'"></ds-crisref-more>
    </table>
  </div>
</div>

