<div *ngIf="(initialized | async)" [class]="'table-container d-flex flex-column ' + valueStyle">
  <div class="table-responsive">
    <table class='table table-borderless'>
      <tr>
        <td *ngFor="let field of metadataGroup" class="table-light {{field.styleLabel}}">
          <span [innerHTML]="getLabel(field)"></span>
        </td>
      </tr>
      <tr *ngFor="let index of loadMoreService.firstLimitedDataToBeRenderedMap.keys();">
        <td *ngFor="let mdg of loadMoreService.firstLimitedDataToBeRenderedMap.get(index)">
          <ds-metadata-render class="w-100" [item]="item" [field]="mdg.field" [metadataValue]="mdg.value">
          </ds-metadata-render>
        </td>
      </tr>

      <div class="view-text text-center">
        <a class="d-block" (click)="loadMoreService.fillAllData()" href="javascript:void(0);"
          *ngIf="loadMoreService.componentsToBeRenderedMap.size != loadMoreService.lastLimitedDataToBeRenderedMap.size + loadMoreService.firstLimitedDataToBeRenderedMap.size && loadMoreService.firstLimit!== 0 && loadMoreService.isConfigured">
          {{"more" | translate}}
        </a>

        <a class="d-block" (click)="loadMoreService.setLimits()" href="javascript:void(0);"
          *ngIf="loadMoreService.componentsToBeRenderedMap.size == loadMoreService.lastLimitedDataToBeRenderedMap.size + loadMoreService.firstLimitedDataToBeRenderedMap.size && loadMoreService.lastLimit!== 0 && loadMoreService.isConfigured">
          {{"collapse" | translate}}
        </a>
      </div>

      <tr *ngFor="let index of loadMoreService.lastLimitedDataToBeRenderedMap.keys();">
        <td *ngFor="let mdg of loadMoreService.lastLimitedDataToBeRenderedMap.get(index)">
          <ds-metadata-render class="w-100" [item]="item" [field]="mdg.field" [metadataValue]="mdg.value">
          </ds-metadata-render>
        </td>
      </tr>
    </table>
  </div>
</div>