<!-- ds-loading class="container-fluid" *ngIf="(isLoading() | async)" message="Loading..."></ds-loading>
<div *ngIf="!(isLoading() | async)" class="container-fluid p-0" fxLayout="column" -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 id="header" class="border-bottom pb-2">{{'deduplication.title'| translate}}</h2>
      <ngb-tabset [destroyOnHide]="false" type="pills">
        <ngb-tab [title]="'deduplication.home.tab.all-signatures' | translate">
          <ng-template ngbTabContent>
            <div class="row tab-pane-deduplication">

            <ds-loading class="container" *ngIf="(isSignaturesLoading() | async)" message="Loading..."></ds-loading>

            <div *ngIf="!(isSignaturesLoading() | async)" class="col-md-12">LOADED!</div>

            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <hr>
                <button type="button" class="btn btn-primary" [disabled]="(isSignaturesProcessing() | async)" (click)="getDeduplicationSignatures()">
                  {{'deduplication.home.tab.show-more' | translate}}
                  <i class="fa fa-angle-double-right"></i>
                </button>
              </div>
            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab [title]="'deduplication.home.tab.compare' | translate">
          <ng-template ngbTabContent>
            <div class="row tab-pane-deduplication">
              <div class="col-md-4">
                <p>
                  Compare item from internal identifier (each one MUST be separated by comma e.g 123,232,4343).
                </p>
              </div>
              <div class="col-md-8">
                <textarea id="itemid-list" name="itemid-list" rows="10" class="form-control"></textarea>
              </div>
            </div>
            <div class="row tab-pane-deduplication">
              <div class="col-md-12 text-right">
                <p>
                  <button type="button" class="btn btn-primary">
                    Compare
                  </button>
                </p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>



<!-- div class="container">
  <div class="row">
    <div class="col-12">
      <h2 id="header" class="border-bottom pb-2">Records duplicate Identifiers (DOI, PMID, ARXIV, SCOPUS, ISI)</h2>
      <p>The page shows potentially duplicate groups by signature. You can select the items to compare or reject. The system records the action "No duplicate" so the match is not show in the future.</p>
      <ngb-accordion #a="ngbAccordion" activeIds="panel-1">
        <ngb-panel id="panel-1">
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="row">
              <div class="col-md-10 mt-1">
                <h5 class="m-0">d07b50b1cab8d9ff54260784231b8b2a <span class="badge badge-primary">7</span></h5>
              </div>
              <div class="col-md-2 text-right mt-1">
                <button ngbPanelToggle class="btn btn-outline-info btn-sm">
                  <i class="fa fa-chevron-up"></i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-3 col-lg-2">
                <span class="badge badge-secondary small">Match other criteria</span>
              </div>
              <div class="col-sm-8 col-md-9 col-lg-10">
                <span class="badge badge-info small">d07b50b1cab8d9ff54260784231b8b2a</span>
                <span class="badge badge-info small">d07b50b1cab8d9ff54260784231b8b2a</span>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-12">
                <p class="small">Select the items to compare them.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-outline-secondary btn-sm mt-1"><i class="fa fa-check-square"></i> Select all</button>
                <button class="btn btn-outline-secondary btn-sm mt-1"><i class="fa fa-square"></i> Deselect all</button>
              </div>
              <div class="col-md-8 text-right">
                <button class="btn btn-primary btn-sm mt-1"><i class="fa fa-clone"></i> Compare</button>
                <button class="btn btn-outline-secondary btn-sm mt-1"><i class="fa fa-times"></i> No duplicates</button>
                <button class="btn btn-outline-danger btn-sm mt-1"><i class="fa fa-trash-alt"></i> Delete selected</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tbody>
                      <tr class="border border-warning border-thick">
                        <td>
                          <div class="custom-control custom-checkbox ml-0">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"></label>
                          </div>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Collection:</th>
                                <td>1.01 Articoli in rivista</td>
                              </tr>
                              <tr>
                                <th>Internal identifier:</th>
                                <td><button class="btn btn-outline-secondary btn-sm">32630</button></td>
                              </tr>
                              <tr>
                                <th>Last modified:</th>
                                <td>2020-01-28 06:52</td>
                              </tr>
                              <tr>
                                <th>Status:</th>
                                <td><span class="badge badge-secondary">Workspace</span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Title:</th>
                                <td>The VMC survey - XIV. First results on the look-back time star formation rate tomography of the Small Magellanic Cloud</td>
                              </tr>
                              <tr>
                                <th>Author:</th>
                                <td>
                                  RUBELE, STEFANO<br>
                                  GIRARDI, Leo Alberto
                                </td>
                              </tr>
                              <tr>
                                <th>Date issued:</th>
                                <td>2015</td>
                              </tr>
                              <tr>
                                <th>Type:</th>
                                <td>Article</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <div class="btn-group btn-group-sm" role="group" aria-label="btn-grp-01-01">
                            <button class="btn btn-danger" title="Delete"><i class="fa fa-trash-alt"></i></button>
                            <button class="btn btn-warning" title="Keep this"><i class="fa fa-star"></i></button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox ml-0">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2"></label>
                          </div>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Collection:</th>
                                <td>1.01 Articoli in rivista</td>
                              </tr>
                              <tr>
                                <th>Internal identifier:</th>
                                <td><button class="btn btn-outline-secondary btn-sm">32634</button></td>
                              </tr>
                              <tr>
                                <th>Last modified:</th>
                                <td>2020-01-28 06:52</td>
                              </tr>
                              <tr>
                                <th>Status:</th>
                                <td><span class="badge badge-secondary">Workspace</span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Title:</th>
                                <td>The VMC survey - XIV. First results on the look-back time star formation rate tomography of the Small Magellanic Cloud</td>
                              </tr>
                              <tr>
                                <th>Author:</th>
                                <td>
                                  RUBELE, STEFANO<br>
                                  GIRARDI, Leo Alberto
                                </td>
                              </tr>
                              <tr>
                                <th>Date issued:</th>
                                <td>2015</td>
                              </tr>
                              <tr>
                                <th>Type:</th>
                                <td>Article</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <div class="btn-group btn-group-sm" role="group" aria-label="btn-grp-01-02">
                            <button class="btn btn-danger" title="Delete"><i class="fa fa-trash-alt"></i></button>
                            <button class="btn btn-outline-warning" title="Keep this"><i class="fa fa-star"></i></button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox ml-0">
                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3"></label>
                          </div>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Collection:</th>
                                <td>1.01 Articoli in rivista</td>
                              </tr>
                              <tr>
                                <th>Internal identifier:</th>
                                <td><button class="btn btn-outline-secondary btn-sm">32634</button></td>
                              </tr>
                              <tr>
                                <th>Last modified:</th>
                                <td>2020-01-28 06:52</td>
                              </tr>
                              <tr>
                                <th>Status:</th>
                                <td><span class="badge badge-secondary">Workspace</span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Title:</th>
                                <td>The VMC survey - XIV. First results on the look-back time star formation rate tomography of the Small Magellanic Cloud</td>
                              </tr>
                              <tr>
                                <th>Author:</th>
                                <td>
                                  RUBELE, STEFANO<br>
                                  GIRARDI, Leo Alberto
                                </td>
                              </tr>
                              <tr>
                                <th>Date issued:</th>
                                <td>2015</td>
                              </tr>
                              <tr>
                                <th>Type:</th>
                                <td>Article</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <div class="btn-group btn-group-sm" role="group" aria-label="btn-grp-01-03">
                            <button class="btn btn-danger" title="Delete"><i class="fa fa-trash-alt"></i></button>
                            <button class="btn btn-outline-warning" title="Keep this"><i class="fa fa-star"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="panel-2">
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="row">
              <div class="col-md-10 mt-1">
                <h5 class="m-0">ec473787a4086731a18b7dcee7d964b7 <span class="badge badge-primary">4</span></h5>
              </div>
              <div class="col-md-2 text-right mt-1">
                <button ngbPanelToggle class="btn btn-outline-info btn-sm">
                  <i class="fa fa-chevron-up"></i>
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-12">
                <p class="small">Select the items to compare them.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-outline-secondary btn-sm mt-1"><i class="fa fa-check-square"></i> Select all</button>
                <button class="btn btn-outline-secondary btn-sm mt-1"><i class="fa fa-square"></i> Deselect all</button>
              </div>
              <div class="col-md-8 text-right">
                <button class="btn btn-primary btn-sm mt-1"><i class="fa fa-clone"></i> Compare</button>
                <button class="btn btn-outline-secondary btn-sm mt-1"><i class="fa fa-times"></i> No duplicates</button>
                <button class="btn btn-outline-danger btn-sm mt-1"><i class="fa fa-trash-alt"></i> Delete selected</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tbody>
                      <tr class="border border-success border-thick">
                        <td>
                          <div class="custom-control custom-checkbox ml-0">
                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4"></label>
                          </div>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Collection:</th>
                                <td>1.01 Articoli in rivista</td>
                              </tr>
                              <tr>
                                <th>Internal identifier:</th>
                                <td><button class="btn btn-outline-secondary btn-sm">32630</button></td>
                              </tr>
                              <tr>
                                <th>Last modified:</th>
                                <td>2020-01-28 06:52</td>
                              </tr>
                              <tr>
                                <th>Status:</th>
                                <td><span class="badge badge-secondary">Workspace</span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Title:</th>
                                <td>The VMC survey - XIV. First results on the look-back time star formation rate tomography of the Small Magellanic Cloud</td>
                              </tr>
                              <tr>
                                <th>Author:</th>
                                <td>
                                  RUBELE, STEFANO<br>
                                  GIRARDI, Leo Alberto
                                </td>
                              </tr>
                              <tr>
                                <th>Date issued:</th>
                                <td>2015</td>
                              </tr>
                              <tr>
                                <th>Type:</th>
                                <td>Article</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <div class="btn-group btn-group-sm" role="group" aria-label="btn-grp-02-01">
                            <button class="btn btn-danger" title="Delete"><i class="fa fa-trash-alt"></i></button>
                            <button class="btn btn-success" title="Keep this"><i class="fa fa-star"></i></button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox ml-0">
                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                            <label class="custom-control-label" for="customCheck5"></label>
                          </div>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Collection:</th>
                                <td>1.01 Articoli in rivista</td>
                              </tr>
                              <tr>
                                <th>Internal identifier:</th>
                                <td><button class="btn btn-outline-secondary btn-sm">32634</button></td>
                              </tr>
                              <tr>
                                <th>Last modified:</th>
                                <td>2020-01-28 06:52</td>
                              </tr>
                              <tr>
                                <th>Status:</th>
                                <td><span class="badge badge-secondary">Workspace</span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Title:</th>
                                <td>The VMC survey - XIV. First results on the look-back time star formation rate tomography of the Small Magellanic Cloud</td>
                              </tr>
                              <tr>
                                <th>Author:</th>
                                <td>
                                  RUBELE, STEFANO<br>
                                  GIRARDI, Leo Alberto
                                </td>
                              </tr>
                              <tr>
                                <th>Date issued:</th>
                                <td>2015</td>
                              </tr>
                              <tr>
                                <th>Type:</th>
                                <td>Article</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <div class="btn-group btn-group-sm" role="group" aria-label="btn-grp-02-02">
                            <button class="btn btn-danger" title="Delete"><i class="fa fa-trash-alt"></i></button>
                            <button class="btn btn-outline-success" title="Keep this"><i class="fa fa-star"></i></button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox ml-0">
                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                            <label class="custom-control-label" for="customCheck6"></label>
                          </div>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Collection:</th>
                                <td>1.01 Articoli in rivista</td>
                              </tr>
                              <tr>
                                <th>Internal identifier:</th>
                                <td><button class="btn btn-outline-secondary btn-sm">32634</button></td>
                              </tr>
                              <tr>
                                <th>Last modified:</th>
                                <td>2020-01-28 06:52</td>
                              </tr>
                              <tr>
                                <th>Status:</th>
                                <td><span class="badge badge-secondary">Workspace</span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <table class="table table-borderless small">
                            <tbody>
                              <tr>
                                <th>Title:</th>
                                <td>The VMC survey - XIV. First results on the look-back time star formation rate tomography of the Small Magellanic Cloud</td>
                              </tr>
                              <tr>
                                <th>Author:</th>
                                <td>
                                  RUBELE, STEFANO<br>
                                  GIRARDI, Leo Alberto
                                </td>
                              </tr>
                              <tr>
                                <th>Date issued:</th>
                                <td>2015</td>
                              </tr>
                              <tr>
                                <th>Type:</th>
                                <td>Article</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <div class="btn-group btn-group-sm" role="group" aria-label="btn-grp-02-03">
                            <button class="btn btn-danger" title="Delete"><i class="fa fa-trash-alt"></i></button>
                            <button class="btn btn-outline-success" title="Keep this"><i class="fa fa-star"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div -->
