.icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    width: $icon-size-base;
    height: $icon-size-base;
    color: inherit;
    fill: currentColor;
    transition: transform 0.2s;
    top: 0.4rem;
    left: -0.2rem;


    svg {
        width: $icon-size-base;
        height: $icon-size-base;
    }

    .icon-right & {
        margin-left: 0.4em;
    }

    .icon-left & {
        margin-right: 0.4em;
    }
}

.icon-rotate-90 {
    transform: rotate(90deg);
}

.epfl-laboratoire {
    background-color: $leman;
    -webkit-mask: url(../assets/icons/epfl-recherche.svg) no-repeat center;
    mask: url(../assets/icons/epfl-recherche.svg) no-repeat center;
}

.epfl-upload {
    background-color: $white;
    -webkit-mask: url(../assets/icons/upload.svg) no-repeat center;
    mask: url(../assets/icons/upload.svg) no-repeat center;
}

.epfl-recherche {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 600"><path d="M122.5 426.7c0-37.31 13.2-81 37.31-125.12-24.11-44.14-37.31-87.82-37.31-125.13 0-63.24 38.68-102.37 102.38-102.37 37.31 0 81 13.19 125.12 37.76 44.59-24.57 88.27-37.31 125.13-37.31 63.7 0 102.37 38.22 102.37 102.38 0 36.85-13.19 80.53-37.31 125.12 24.12 44.14 37.31 87.82 37.31 124.67 0 63.7-39.13 102.38-102.37 102.38-37.31 0-81-12.74-125.58-37.31-44.14 24.11-87.82 37.31-124.67 37.31-65.07 0-102.38-40.08-102.38-102.38Zm180.64 35a505.12 505.12 0 0 1-113.3-113.3c-10.92 24.12-19.56 54.15-19.56 78.26 0 37.31 16.83 54.6 54.6 54.6 26.39.04 52.32-8.15 78.26-19.52Zm.45-319.87c-25-11.37-54.14-20-78.71-20-32.31 0-51 13.2-53.69 45.5-3.19 24.57 6.37 59.15 19.11 87.36 31.85-44.11 70.98-83.24 113.29-112.82ZM484.68 302c-32.3-50.5-84.17-101.92-134.68-134.68-52.32 33.22-99.64 81-134.68 134.23C248.08 352.08 298.59 403.5 350 436.26c52.78-33.67 100.1-82.81 134.68-134.26Zm-161.52-.45A26.85 26.85 0 1 1 350 328.88a26.9 26.9 0 0 1-26.84-27.3Zm206.11 125.61c0-25-9.1-56-19.56-78.26-30.49 42.77-72.35 83.72-113.3 112.84 25 11.83 55.06 20 78.72 20 39.13.02 54.14-19.55 54.14-54.58Zm.46-250.25c0-37.31-17.75-55.06-54.6-55.06-24.12 0-52.78 8.65-78.26 20C437.82 171 482 214.67 509.71 255.17c11.83-25.94 20.02-52.78 20.02-78.26Z" fill="white" /></svg>');
}

.epfl-laboratoire-2 {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 600"><path  d="m52.21 136.41 298-59.15 297.59 59.15v387.66H600V172.36L350.23 125 100 172.36v351.71H52.21Zm115.11 293.93c0-27.3 10.92-62.79 23.21-86.45-16.84-34.58-25-67.79-21.84-101 6.37-50.5 43.68-79.62 93.27-79.62 29.58 0 60.06 10 86.45 22.75 27.76-13.2 56.42-22.3 84.63-22.3 54.15 0 89.64 30.49 95.1 81.45 3.18 34.12-6.83 68.25-21.84 99.19 13.65 28.21 22.75 60.06 22.75 86.45 0 56.42-37.77 94.18-94.64 94.18-29.58 0-59.61-9.55-86.45-22.75C320.66 515.88 289.72 525 262 525c-56.91 0-94.68-37.33-94.68-94.66Zm130.59 40c-27.3-19.11-56.88-48.68-76-76-4.09 12.74-6.82 25-6.82 35.94 0 31.4 16.38 46.87 46.86 46.87 10.93.06 23.67-2.67 35.96-6.77Zm0-252.52c-12.29-4.1-25-6.83-36-6.83-29.57 0-45.95 15.93-46.41 45.5-.45 11.38 1.82 23.66 6.37 36.86 21.44-29.08 47.83-54.56 76.04-75.49Zm153.33 126.53c-25.48-42.35-62.79-78.26-102.83-103.29C307 267 270.15 302.94 244.67 343.89c25.48 38.68 72.35 84.63 103.74 103.74C387.09 424 428 383 451.24 344.35Zm-130.13 0a27 27 0 0 1 27.3-26.85 26.61 26.61 0 0 1 26.85 26.85c0 14.56-11.83 27.3-26.85 27.3s-27.3-12.74-27.3-27.3Zm160.16-86.45c0-30.94-16.83-46.41-46.86-46.41-10.92 0-23.21 2.73-35.49 6.37 25.93 18.65 57.33 50.05 75.53 76 5-13.21 6.82-23.22 6.82-35.96Zm0 172.9c0-11.38-2.73-23.66-6.82-35.95-21.84 29.12-47.32 55.06-75.53 76 12.28 4.09 24.57 6.37 35.49 6.37 32.3-.01 46.86-17.76 46.86-46.42Z" fill="currentColor" stroke="currentColor"/></svg>');
}

.epfl-chercheur {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 600"><path d="M62.44 402.59a156.69 156.69 0 0 1 64.16-126C107 254.26 96.11 227 96.11 196.47 96.11 129.13 151.17 75 219 75c67.34 0 122.4 54.14 122.4 121.48 0 30-10.47 58.24-30 80.08 7.28 5.46 14.1 10.92 20 17.75l40.49-95.55V80h171.49v118.75l139.69 325.32H62.44Zm190.65 73.71L310 343.44a104.91 104.91 0 0 0-38.67-35.95A119.21 119.21 0 0 1 219 319.32a120.61 120.61 0 0 1-52.32-11.83c-34.13 18.2-56.42 56-56.42 95.1v73.71Zm41-279.83c0-41.4-33.67-74.16-75.08-74.16-41.86 0-75.07 33.21-75.07 74.16a75.08 75.08 0 1 0 150.15 0ZM610.26 476.3 495.6 208.76v-80.08h-76v80.08L305 476.3Zm-237.51-66.89a27.3 27.3 0 1 1 27.3 27.3 27.39 27.39 0 0 1-27.3-27.3Zm57.79-98.73a27.3 27.3 0 0 1 54.6 0 27.3 27.3 0 0 1-54.6 0Zm57.78 98.73a27.39 27.39 0 0 1 27.3-27.3c14.56 0 27.3 12.29 27.3 27.3s-12.74 27.3-27.3 27.3a27.38 27.38 0 0 1-27.3-27.3Z" fill="currentColor" stroke="currentColor" /></svg>');
}

.epfl-apprendre {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 600"><path d="M138.88 454.46v-72.35c-33.67-10.46-58.24-41.86-58.24-78.71a81.76 81.76 0 0 1 58.24-78.26V117.3l86.91 30.49A141.58 141.58 0 0 1 350 75c52.33 0 98.29 27.3 124.22 72.8l86.45-30.49v107.83a81.63 81.63 0 0 1 58.7 78.26c0 36.85-24.58 68.25-58.7 78.71v72.35L350 529.08Zm58.7-151.06c0-18.66-15.47-34.13-34.58-34.13s-34.58 15.47-34.58 34.13c0 19.11 15.47 34.12 34.58 34.12s34.58-15.01 34.58-34.12Zm128.76-69.62-139.68-49.14v40.5a81.76 81.76 0 0 1 58.24 78.26c0 36.85-24.57 68.25-58.24 78.71v38.68l139.68 49.14Zm101.47-69.61a93.24 93.24 0 0 0-155.61 0l77.8 27.75Zm85.54 256.62v-38.68c-33.67-10.46-58.24-41.86-58.24-78.71a81.76 81.76 0 0 1 58.24-78.26v-40.5l-139.69 49.14v236.15Zm58.24-117.39a34.38 34.38 0 0 0-34.13-34.13c-19.1 0-34.58 15.47-34.58 34.13 0 19.11 15.48 34.12 34.58 34.12a34.08 34.08 0 0 0 34.13-34.12Z" fill="currentColor" stroke="currentColor" /></svg>');
}

.epfl-community {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 772 600.6"><path d="M161.69 263h-47.78a89.29 89.29 0 0 1 49.14-79.63c-17.29-12.28-29.12-32.3-29.12-55.51 0-38.22 31.4-69.16 69.62-69.16s69.61 30.94 69.61 69.16c0 23.21-11.83 43.23-29.57 55.51A88.89 88.89 0 0 1 293.18 263h-47.77a41.86 41.86 0 1 0-83.72 0Zm99.19 189.73c-52.78-39.13-83.27-101.46-83.27-167.44h47.78c0 51.42 23.2 99.65 64.15 129.22Zm-79.17-324.88a21.84 21.84 0 0 0 21.84 21.84 21.84 21.84 0 0 0 0-43.68 21.84 21.84 0 0 0-21.84 21.84Zm104.65-25.48a206.8 206.8 0 0 1 199.29 0l-22.75 41.41c-48.69-25.94-105.11-25.48-153.79 0Zm189.28 405.41h-47.78a41.86 41.86 0 1 0-83.72 0h-47.77c0-35 20-65.52 49.14-79.62-17.75-12.29-28.67-32.77-28.67-56 0-38.22 30.49-69.62 69.16-69.62 38.22 0 69.16 31.4 69.16 69.62a68.52 68.52 0 0 1-28.66 56c29.12 14.1 49.14 44.59 49.14 79.62ZM364.16 372.19A21.85 21.85 0 0 0 386 394c11.83 0 21.39-10 21.39-21.84A21.46 21.46 0 0 0 386 350.35a21.84 21.84 0 0 0-21.84 21.84ZM658.09 263h-47.77a41.86 41.86 0 0 0-83.72 0h-47.78a88.88 88.88 0 0 1 49.6-79.63c-17.75-12.28-29.58-32.3-29.58-55.51 0-38.22 31.4-69.16 69.62-69.16s69.61 30.94 69.61 69.16c0 23.21-11.83 43.23-29.12 55.51A89.29 89.29 0 0 1 658.09 263Zm-63.24 22.29c0 65.52-31.4 128.77-83.72 167.44l-28.21-38.23c40.49-30.94 64.15-77.8 64.15-129.22Zm-48.23-157.44A21.84 21.84 0 1 0 568.46 106a22.14 22.14 0 0 0-21.84 21.85Z" fill="currentColor" stroke="currentColor" /></svg>');
}