<div class="container" *ngVar="(itemRD$ | async) as itemRD">
  <ng-container *ngVar="(tabsRD$ | async) as tabsRD">
    <div  *ngIf="itemRD?.payload">
      <ds-item-versions-notice [item]="itemRD?.payload"></ds-item-versions-notice>
      <ds-access-by-token-notification></ds-access-by-token-notification>
    </div>
    <div *ngIf="(itemRD?.hasSucceeded && !itemRD?.hasNoContent) && tabsRD?.payload?.pageInfo?.totalElements < 1" class="item-page" @fadeInOut>
      <div *ngIf="itemRD?.payload as item">
        <ds-item-alerts [item]="item"></ds-item-alerts>
        <ds-qa-event-notification [item]="item"></ds-qa-event-notification>
        <ds-notify-requests-status [itemUuid]="item.uuid"></ds-notify-requests-status>
        <ds-view-tracker [object]="item"></ds-view-tracker>
        <ds-listable-object-component-loader *ngIf="!item.isWithdrawn || (isAdmin$|async)" [object]="item"
                                             [viewMode]="viewMode"></ds-listable-object-component-loader>
        <ds-item-versions class="mt-2" [item]="item" [displayActions]="false"></ds-item-versions>
      </div>
    </div>
  </ng-container>
  <ds-cris-item-page
    *ngIf="(itemRD?.hasSucceeded && !itemRD?.hasNoContent) && (tabsRD$ | async)?.payload?.pageInfo?.totalElements > 0"></ds-cris-item-page>
  <ds-error *ngIf="itemRD?.hasFailed" message="{{'error.item' | translate}}"></ds-error>
  <ds-themed-loading *ngIf="itemRD?.isLoading" message="{{'loading.item' | translate}}"></ds-themed-loading>
</div>
