::ng-deep {
  .accordion.set-acc .card-body {
    padding-bottom: 0 !important;
  }
}

.badge-hover:hover {
  cursor: pointer;
}

.font-22 {
  font-size: 22px;
}

.font-sm {
  font-size: small;
}

.item-link {
  font-size: small;
  text-decoration: underline;
}

::ng-deep .bg-info.card-header .btn-link {
  .underline:hover {
    color: white !important;
    text-decoration: underline;
  }
}
