<div class="page-wrapper">
  <div class="playlist-wrapper">
    <div class="playlist-mother-video">
      <video  class="video-js" id="audio_{{idx}}"  controls autoplay muted playsinline preload="none"></video>
    </div>
    <div class="playlist-products">
      <ul class="playlist">
        <li
          *ngFor="let item of videoItems; let $index = index"
          (click)="startPlaylist(item, $index)"
          class="playlist-item-list"
          [class.selected]="item === currentVideo">
          <img [src]="item.poster" alt="no image" />
        </li>
      </ul>
    </div>
  </div>
  <div class="playlist-child-videos" id="plylst_upcming"></div>
</div>
