<div [ngSwitch]="(sectionTemplateType | lowercase)">

  <ng-container *ngSwitchCase="templateTypeEnum.CARD">
    <ds-themed-cards-browse-elements
      [topSection]="topSection"
      [paginatedSearchOptions]="paginatedSearchOptionsBS.asObservable() | async"
      [context]="context"
    >
    </ds-themed-cards-browse-elements>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <ds-themed-default-browse-elements
      [showMetrics]="showMetrics"
      [showThumbnails]="topSection.showThumbnails"
      [showLabel]="showLabel"
      [topSection]="topSection"
      [paginatedSearchOptions]="paginatedSearchOptionsBS.asObservable() | async"
      [context]="context"
    ></ds-themed-default-browse-elements>
  </ng-container>

</div>
<div
  class="row justify-content-center"
  *ngIf="topSection && topSection.showAllResults"
>
  <button type="button" class="btn btn-link" (click)="showAllResults()">
    {{ "home.top-section.view-results" | translate }}
  </button>
</div>
