<div class="m-2">
  <ng-container *ngIf="searchResults">
    <ng-container
      *ngIf="
        topSection && topSection.defaultLayoutMode == cardLayoutMode;
        else listLayout
      "
    >
      <div [style]="topSection?.cardStyle">
        <ds-object-grid
          [config]="paginatedSearchOptions.configuration"
          [sortConfig]="paginatedSearchOptions.sort"
          [objects]="searchResults"
          [hideGear]="true"
          [linkType]="'None'"
          [context]="context"
          [hidePaginationDetail]="true"
        >
        </ds-object-grid>
      </div>
    </ng-container>
    <ng-template #listLayout>
      <div [style]="topSection?.itemListStyle">
        <ul *ngIf="searchResults?.hasSucceeded" class="list-unstyled">
          <li
            *ngFor="
              let object of searchResults?.payload?.page;
              let i = index;
              let last = last
            "
            class="mt-4 mb-4 d-flex"
            [ngClass]="
              topSection.showAsCard ? 'border-0' : !last ? 'border-bottom' : ''
            "
          >
            <ds-listable-object-component-loader
              [object]="object"
              [viewMode]="paginatedSearchOptions.view"
              [index]="i"
              [context]="context"
              [listID]="paginatedSearchOptions.configuration"
            ></ds-listable-object-component-loader>
          </li>
        </ul>
      </div>
    </ng-template>
    <div
      class="row justify-content-center"
      *ngIf="topSection && topSection.showAllResults"
    >
      <button type="button" class="btn btn-link" (click)="showAllResults()">
        {{ "home.top-section.view-results" | translate }}
      </button>
    </div>
    <div *ngIf="searchResults?.hasFailed">
      {{ "remote.error" | translate }}
    </div>
  </ng-container>
  <ds-loading *ngIf="!searchResults"></ds-loading>
</div>
