<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 id="header" class="border-bottom pb-2">
        {{ "deduplication.merge.label.title" | translate }}
      </h2>

      <div class="col-md-12 text-center" *ngIf="!itemsToCompare">
        <ds-loading> </ds-loading>
      </div>

      <div class="col-md-12 text-center" *ngIf="itemsToCompare?.length == 0">
        <h4 class="p-3">
          {{ "deduplication.merge.message.no-data" | translate }}
        </h4>
      </div>

      <ng-container *ngIf="itemsToCompare && itemsToCompare.length > 0">
        <h5>{{ "deduplication.merge.label.info" | translate }}</h5>
        <!-- Item Data Tabel -->
        <table class="table table-striped mb-4">
          <thead>
            <tr>
              <th scope="col">
                {{ "deduplication.merge.table.header.entities" | translate }}
              </th>
              <th scope="col">{{ "Handle" | translate }}</th>
              <th scope="col">
                {{ "deduplication.merge.table.header.identifier" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemObj of itemsToCompare">
              <td>
                <span>
                  <strong>
                    {{
                      "deduplication.merge.table.header.title" | translate
                    }}:</strong
                  >
                  {{ (itemObj.object$ | async)?.name }}</span
                >
                <br />
                <span *ngIf="(itemObj.object$ | async)?.metadata['dc.type']">
                  <strong>Type:</strong>
                  {{
                    (itemObj.object$ | async)?.metadata["dc.type"][0].value
                  }}</span
                >
                <br />
                <span>
                  <strong>Entity type:</strong>
                  {{ (itemObj.object$ | async)?.type }}</span
                >
                <br />
                <strong>Collection:</strong>
                <span>
                  {{ getOwningCollectionTitle(itemObj.object$) | async }}</span
                >
              </td>
              <td>
                <span
                  *ngIf="itemObj.color"
                  [ngStyle]="{ color: itemObj.color }"
                >
                  {{ (itemObj.object$ | async)?.handle }}
                </span>
              </td>
              <td>
                <span
                  *ngIf="itemObj.color"
                  [ngStyle]="{ color: itemObj.color }"
                >
                  {{ (itemObj.object$ | async)?.uuid }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <h5>{{ "deduplication.merge.label.bitstreams" | translate }}</h5>
        <!-- Bitstream Data Tabel -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">
                {{ "Select" | translate }}
              </th>
              <th scope="col">
                {{
                  "deduplication.merge.table.bitstream.header.title" | translate
                }}
              </th>
              <th scope="col">
                {{
                  "deduplication.merge.table.bitstream.header.identifier"
                    | translate
                }}
              </th>
              <th scope="col">
                {{
                  "deduplication.merge.table.bitstream.header.item-identifier"
                    | translate
                }}
              </th>
              <th scope="col">
                {{
                  "Actions"
                    | translate
                }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let itemObj of itemsToCompare">
              <ds-loading
                [showMessage]="false"
                *ngIf="!(itemObj.object$ | dsGetBitstreams | async | async)"
              >
              </ds-loading>
              <tr
                *ngFor="
                  let bitstream of itemObj.object$
                    | dsGetBitstreams
                    | async
                    | async
                "
              >
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      [id]="bitstream.uuid"
                    />
                    <label
                      class="custom-control-label"
                      [for]="bitstream.uuid"
                    ></label>
                  </div>
                </td>
                <td>
                  <span *ngFor="let title of bitstream.metadata['dc.title']">
                    {{ title.value }} <br />
                  </span>
                </td>
                <td>{{ bitstream.uuid }}<br /></td>
                <td>
                  <span
                    *ngIf="itemObj.color"
                    [ngStyle]="{ color: itemObj.color }"
                  >
                    ({{ (itemObj.object$ | async)?.uuid }})
                  </span>
                </td>
                <td>
                  <a> View</a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div class="justify-content-end pr-3 mb-1 row">
          <button class="btn btn-secondary" (click)="merge()">
            <i class="fa fa-code pr-1" aria-hidden="true"></i>
            {{ "deduplication.merge.button.label.merge" | translate }}
          </button>
        </div>

        <ngb-accordion
          [destroyOnHide]="false"
          [closeOthers]="true"
          activeIds="panel-0"
          *ngFor="
            let keyvalue of (itemsToCompare[0].object$ | async)?.metadata
              | keyvalue;
            let kIdx = index
          "
        >
          <ngb-panel id="panel-{{ 0 }}">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="row">
                <div class="col-md-9 mt-1 uppercase">
                  {{ keyvalue.key }}
                </div>

                <div class="col-md-3 text-right mt-1">
                  <button
                    *ngIf="keyvalue.value && keyvalue.value.length > 0"
                    class="btn btn-sm btn-warning mr-2"
                    (click)="showDiff(keyvalue)"
                  >
                    {{
                      "deduplication.merge.button.label.show-diff" | translate
                    }}
                  </button>
                  <!-- <button class="btn btn-sm btn-danger mr-2">
                    <i class="fa fa-trash"></i>
                  </button> -->
                  <button
                    ngbPanelToggle
                    class="btn btn-sm"
                    [ngClass]="opened ? 'btn-info' : 'btn-outline-info'"
                  >
                    <i *ngIf="!opened" class="fa fa-chevron-up"></i>
                    <i *ngIf="opened" class="fa fa-chevron-down"></i>
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container
                *ngFor="let itemObj of itemsToCompare; let i = index"
              >
                <ng-container
                  *ngFor="
                    let data of (itemObj.object$ | async)?.metadata[
                      keyvalue.key
                    ];
                    let dataIdx = index
                  "
                >
                  <div
                    class="row item-container"
                    *ngIf="itemObj.color"
                    [ngStyle]="{ 'background-color': itemObj.color }"
                  >
                    <!-- if more than one selection can occur-->
                    <div class="col-1" *ngIf="kIdx % 2 != 0">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          [id]="
                            (itemObj.object$ | async)?.uuid +
                            keyvalue.key +
                            dataIdx
                          "
                          (change)="
                            onValueSelect(
                              keyvalue.key,
                              targetItemHref.value,
                              data.place,
                              'multiple'
                            )
                          "
                        />
                        <label
                          class="custom-control-label"
                          [for]="
                            (itemObj.object$ | async)?.uuid +
                            keyvalue.key +
                            dataIdx
                          "
                        ></label>
                      </div>
                    </div>
                    <input
                      type="hidden"
                      name=""
                      #targetItemHref
                      [value]="(itemObj.object$ | async)?._links.self.href"
                    />

                    <!-- if only one selection can occur-->
                    <!-- TODO: depends on rest properties -->

                    <div class="col-1" *ngIf="kIdx % 2 == 0">
                      <div class="custom-control custom-radio">
                        <input
                          class="custom-control-input"
                          type="radio"
                          [name]="keyvalue.key"
                          [id]="
                            (itemObj.object$ | async)?.uuid +
                            keyvalue.key +
                            dataIdx
                          "
                          [value]="
                            (itemObj.object$ | async)?.uuid + keyvalue.key
                          "
                          (change)="
                            onValueSelect(
                              keyvalue.key,
                              targetItemHref.value,
                              data.place,
                              'single'
                            )
                          "
                        />
                        <label
                          class="custom-control-label"
                          [for]="
                            (itemObj.object$ | async)?.uuid +
                            keyvalue.key +
                            dataIdx
                          "
                        ></label>
                      </div>
                    </div>

                    <span class="col-6" [id]="data.uuid">
                      {{ data.value }}
                    </span>
                    <span class="col-5">
                      ({{ (itemObj.object$ | async)?.uuid }})
                    </span>
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-container>
    </div>
  </div>
</div>
