.heighlighted-selection {
  padding: 0.5em 0;
  background: aliceblue;
}

.bitstream-container-separator {
  margin-top: 5em;
}

.bundle-row {
  color: var(--bs-table-head-color);
  background-color: var(--bs-table-head-bg);
  border-color: var(--bs-table-border-color);
}
