<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 id="header" class="border-bottom pb-2">
        {{ "Merge Deduplications" | translate }}
      </h2>

      <div class="col-md-12 text-center" *ngIf="itemsToCompare.length == 0">
        <h4 class="p-3">
          {{ "no-data" | translate }}
        </h4>
      </div>

      <ng-container *ngIf="itemsToCompare && itemsToCompare.length > 0">
        <p>Records to compare</p>
        <table class="table table-striped mb-4">
          <thead>
            <tr>
              <th scope="col">Entities</th>
              <th scope="col">Identifier</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemObj of itemsToCompare">
              <td>Title: {{ (itemObj.object$ | async)?.name }}</td>
              <td>
                <span
                  *ngIf="itemObj.color"
                  [ngStyle]="{ color: itemObj.color }"
                >
                  ({{ (itemObj.object$ | async)?.uuid }})
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <h6>Bitstreams per Item</h6>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Bitstream Title</th>
              <th scope="col">Bitstream Identifier</th>
              <th scope="col">Item Identifier</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let itemObj of itemsToCompare">
              <tr
                *ngFor="
                  let bitstream of itemObj.object$ | dsGetBundle | async | async
                "
              >
                <td>
                  <span *ngFor="let title of bitstream.metadata['dc.title']">
                    {{ title.value }} <br />
                  </span>
                </td>
                <td>{{ bitstream.uuid }}<br /></td>
                <td>
                  <span
                    *ngIf="itemObj.color"
                    [ngStyle]="{ color: itemObj.color }"
                  >
                    ({{ (itemObj.object$ | async)?.uuid }})
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>

      <ng-container *ngIf="itemsToCompare.length > 0">
        <div class="justify-content-end pr-3 mb-1 row">
          <button class="btn btn-secondary" (click)="merge()">
            <i class="fa fa-code pr-1" aria-hidden="true"></i>
            {{ "Merge" | translate }}
          </button>
        </div>

        <ngb-accordion
          [destroyOnHide]="false"
          [closeOthers]="true"
          activeIds="panel-0"
          *ngFor="
            let keyvalue of (itemsToCompare[0].object$ | async)?.metadata
              | keyvalue;
            let kIdx = index
          "
        >
          <ngb-panel id="panel-{{ 0 }}">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="row">
                <div class="col-md-9 mt-1 uppercase">
                  {{ keyvalue.key }}
                </div>

                <div class="col-md-3 text-right mt-1">
                  <button
                    *ngIf="keyvalue.value && keyvalue.value.length > 0"
                    class="btn btn-sm btn-warning mr-2"
                    (click)="showDiff(keyvalue)"
                  >
                    Show Diff
                  </button>
                  <!-- <button class="btn btn-sm btn-danger mr-2">
                    <i class="fa fa-trash"></i>
                  </button> -->
                  <button
                    ngbPanelToggle
                    class="btn btn-sm"
                    [ngClass]="opened ? 'btn-info' : 'btn-outline-info'"
                  >
                    <i *ngIf="!opened" class="fa fa-chevron-up"></i>
                    <i *ngIf="opened" class="fa fa-chevron-down"></i>
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container
                *ngFor="let itemObj of itemsToCompare; let i = index"
              >
                <ng-container
                  *ngFor="
                    let data of (itemObj.object$ | async)?.metadata[
                      keyvalue.key
                    ];
                    let dataIdx = index
                  "
                >
                  <div
                    class="row item-container"
                    *ngIf="itemObj.color"
                    [ngStyle]="{ 'background-color': itemObj.color }"
                  >
                    <!-- if more than one selection can occur-->
                    <div class="col-1" *ngIf="kIdx % 2 != 0">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          [id]="
                            (itemObj.object$ | async)?.uuid +
                            keyvalue.key +
                            dataIdx
                          "
                          (change)="
                            onValueSelect(
                              keyvalue.key,
                              targetItemHref.value,
                              data.place,
                              'multiple'
                            )
                          "
                        />
                        <label
                          class="custom-control-label"
                          [for]="
                            (itemObj.object$ | async)?.uuid +
                            keyvalue.key +
                            dataIdx
                          "
                        ></label>
                      </div>
                    </div>
                    <input
                      type="hidden"
                      name=""
                      #targetItemHref
                      [value]="(itemObj.object$ | async)?._links.self.href"
                    />

                    <!-- if only one selection can occur-->
                    <!-- TODO: depends on rest properties -->

                    <div class="col-1" *ngIf="kIdx % 2 == 0">
                      <div class="custom-control custom-radio">
                        <input
                          class="custom-control-input"
                          type="radio"
                          [name]="keyvalue.key"
                          [id]="
                            (itemObj.object$ | async)?.uuid +
                            keyvalue.key +
                            dataIdx
                          "
                          [value]="
                            (itemObj.object$ | async)?.uuid + keyvalue.key
                          "
                          (change)="
                            onValueSelect(
                              keyvalue.key,
                              targetItemHref.value,
                              data.place,
                              'single'
                            )
                          "
                        />
                        <label
                          class="custom-control-label"
                          [for]="
                            (itemObj.object$ | async)?.uuid +
                            keyvalue.key +
                            dataIdx
                          "
                        ></label>
                      </div>
                    </div>

                    <span class="col-6" [id]="data.uuid">
                      {{ data.value }}
                    </span>
                    <span class="col-5">
                      ({{ (itemObj.object$ | async)?.uuid }})
                    </span>
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-container>
    </div>
  </div>
</div>
