<ngb-carousel #carousel [interval]="2000" (slide)="onSlide($event)" class="ds-carousel" *ngIf="!(isLoading$ | async)">
  <ng-template ngbSlide *ngFor="let item of (currentPageItems$ | async); let i = index; let last = last">
    <ng-container *ngIf="getItemLink(item.indexableObject); let currentLink; else carouselContent">
      <a *ngIf="internalLinkService.isLinkInternal(currentLink)" [routerLink]="internalLinkService.getRelativePath(currentLink)">
        <ng-container *ngTemplateOutlet="carouselContent"></ng-container>
      </a>
      <a *ngIf="!internalLinkService.isLinkInternal(currentLink)" [href]="currentLink" [target]="carouselOptions.targetBlank ? '_blank' : null">
        <ng-container *ngTemplateOutlet="carouselContent"></ng-container>
      </a>
    </ng-container>
    <ng-template #carouselContent>
      <div class="carousel-content-wrapper"
           [ngStyle]="{
                'height': carouselOptions.keepAspectRatio ? null : carouselOptions.carouselHeightPx + 'px',
                'aspect-ratio': carouselOptions.keepAspectRatio ? carouselOptions.aspectRatio : null
           }">
        <div class="picsum-img-wrapper" *ngIf="(itemToImageHrefMap$ | async).get(item.indexableObject.uuid); let href">
          <img [src]="href" [alt]="item.indexableObject.metadata[title][0].value" class="img-fluid"
               [ngClass]="{'w-100': carouselOptions.fitWidth, 'h-100': carouselOptions.fitHeight}">
        </div>
        <div class="carousel-caption">
          <div class="carousel-caption-inner">
            <h3 data-test="carouselObjTitle" [class]="carouselOptions.titleStyle"
                *ngIf="item.indexableObject.metadata[title]">
              {{item.indexableObject.metadata[title][0].value}}</h3>
            <div data-test="carouselObjDesc" class="carousel-caption-text pr-3 pl-2" [class]="carouselOptions.captionStyle"
                 *ngIf="item.indexableObject.metadata[description]; let descriptionObj">
              {{descriptionObj[0].value}}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ngb-carousel>

<div
  class="carousel-content-wrapper"
  [ngStyle]="{
                'height': carouselOptions.keepAspectRatio ? null : carouselOptions.carouselHeightPx + 'px',
                'aspect-ratio': carouselOptions.keepAspectRatio ? carouselOptions.aspectRatio : null
           }"
  *ngIf="(isLoading$ | async)"
>
  <div class="h-100 img-container-el">
    <div class="picsum-img-wrapper flex-column">
      <img class="img-fluid" src="assets/images/replacement_image.svg">
      {{'loading.default' | translate}}
    </div>
  </div>
</div>

<div class="text-center play-pause-button">
  <button [disabled]="isLoading$ | async" type="button" class="btn btn-sm toggle-paused" (click)="togglePaused()">
    <i class="fas fa-play" *ngIf="paused"></i>
    <i class="fas fa-pause" *ngIf="!paused"></i>
  </button>
</div>
<div class="mt-4 w-100 d-flex justify-content-center align-items-center" *ngIf="totalPages > 1">
  <div
    class="page-item"
    [class.disabled]="currentPage === 1 || (isLoading$ | async)"
  >
    <button (click)="previousPage()" [disabled]="currentPage === 1 || (isLoading$ | async)" class="page-link prev">
      «
    </button>
  </div>

  <div
    *ngFor="let page of (currentlyVisiblePages$ | async)"
    class="page-item"
    [class.active]="page === currentPage"
  >
    <button
      class="page-link"
      (click)="changePage(page)"
      [disabled]="isLoading$ | async"
    >
      {{ page < 10 ? '0' + page : page }}
    </button>
  </div>

  <div
    class="page-item"
    [class.disabled]="currentPage === totalPages || (isLoading$ | async)"
  >
    <button (click)="nextPage()" [disabled]="currentPage === totalPages || (isLoading$ | async)" class="page-link next">
      »
    </button>
  </div>
</div>


