::ng-deep .carousel-control-prev-icon, ::ng-deep .carousel-control-next-icon {
  filter: grayscale(100%) brightness(0%) contrast(1);
}

::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
  z-index: 15;
  cursor: pointer;
}

::ng-deep .carousel-item {
  min-height: var(--ds-carousel-item-min-height);
}

::ng-deep .carousel-indicators{
  padding-bottom: 6px;
}

::ng-deep .carousel-indicators li {
  background-color: var(--ds-carousel-indicators-background-color);
}

.carousel-caption {
  background: var(--ds-carousel-caption-background);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 45px;
}

.carousel-caption-inner {
  width: 80%;
  margin: 0 auto;
  a {
    cursor: pointer;
  }
}


.picsum-img-wrapper {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.play-pause-button {
  z-index: 15;
  margin-top: -30px;
  position: relative
}


:host .inner-caption {
  background-color: rgba(255, 255, 255, 0.5);
}


.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
