<ng-container [ngSwitch]="textRowSection?.contentType">
  <div *ngSwitchCase="'image'"><img [src]="textRowSection.content" style="width: 100%"></div>
  <div *ngSwitchCase="'text-key'">{{ ('explore.text-section.' + textRowSection.content) | translate }}</div>
  <div *ngSwitchCase="'text-raw'">{{ textRowSection.content }}</div>
  <ds-markdown-viewer *ngSwitchCase="'text-metadata'" data-test="ds-markdown-viewer"  [value]="metadataValue(textRowSection.content)"></ds-markdown-viewer>
  <div *ngSwitchCase="'custom'">
    <ng-container *ngTemplateOutlet="custom"></ng-container>
  </div>
</ng-container>

<!-- Custom content type -->
<ng-template #custom></ng-template>
