<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="objectMap.size > 0">
    <ng-container *ngFor="let object of objectMap | keyvalue">
      <ng-container
        *ngFor="let value of object.value; let i = index; let isLast = isLast"
      >
        <ng-container *ngIf="i < object.value.length -1">
          {{ object.value[i].id }}:
          <p style="color: red" #value1>
            {{ object.value[i].text }}
          </p>
          {{ object.value[i + 1]?.id }}:
          <p style="color: green" #value2>
            {{ object.value[i + 1]?.text }}
          </p>
          <div
            style="background-color: gray"
            [innerHTML]="value1.innerHTML | dsTextDiff: value2.innerHTML"
          ></div>
          <hr />
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
