<div class="container">
  <button routerLink="/profile" class="btn btn-primary">Back to profile</button>

  <h3 class="mb-4">Group Roles</h3>

  <ng-container *ngIf="groupRole$ | async as groupRole">
    {{ groupRole | json }}
  </ng-container>

  <div class="table-responsive">
    <table id="group-roles" class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col" rowspan="2">function</th>
          <th scope="col" colspan="2" class="text-center">general role</th>
        </tr>
        <tr class="text-center">
          <th scope="col">anonymous</th>
          <th scope="col">submitter</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of roles">
          <td>{{x.name}}</td>
          <td [class]="x.anonymous === 'N' ? 'bg-red' : 'bg-green'" class="text-center">
            {{x.anonymous}}
          </td>
          <td [class]="x.submitter === 'N' ? 'bg-red' : 'bg-green'" class="text-center">
            {{x.submitter}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
