<div>
  <ng-container *ngIf="topSection.showAsCard">
    <!-- CARD VIEW -->
    <div class="card">
      <div *ngIf="topSection.titleKey" class="card-header">{{ 'explore.index.' + topSection.titleKey | translate }}</div>
      <div *ngIf="!topSection.titleKey" class="card-header">{{ 'explore.index.' + topSection.sortField | translate }}</div>
      <div class="card-body">
        <div class="row pl-2" *ngIf="topSection.showLayoutSwitch">
          <div class="col">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="layoutMode">
              <label ngbButtonLabel class="btn-outline-primary">
                <input ngbButton type="radio" [value]="'list'" />
                <i class="fa fa-list-ul" title="List"></i>
              </label>
              <label ngbButtonLabel class="btn-outline-primary">
                <input ngbButton type="radio" [value]="'card'" />
                <i class="fas fa-th-large" title="Cards"></i>
              </label>
            </div>
          </div>
        </div>
        <ds-themed-browse-most-elements [context]="context" [paginatedSearchOptions]="paginatedSearchOptions"
                                        [topSection]="topSection" [mode]="layoutMode">
        </ds-themed-browse-most-elements>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!topSection.showAsCard">
    <!-- LIST VIEW -->
    <div class="row" *ngIf="topSection.showLayoutSwitch">
      <div class="col">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="layoutMode">
          <label ngbButtonLabel class="btn-outline-primary">
            <input ngbButton type="radio" [value]="'list'" />
            <i class="fa fa-list-ul" title="List"></i>
          </label>
          <label ngbButtonLabel class="btn-outline-primary">
            <input ngbButton type="radio" [value]="'card'" />
            <i class="fas fa-th-large" title="Cards"></i>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col px-2">
        <ds-themed-browse-most-elements [context]="context" [paginatedSearchOptions]="paginatedSearchOptions"
                                        [topSection]="topSection" [mode]="layoutMode">
        </ds-themed-browse-most-elements>
      </div>
    </div>
  </ng-container>
</div>
