<div>
  <div [ngClass]="{'card': topSection.showAsCard}">
    <ng-container *ngIf="topSection.showAsCard; else listView">
      <div class="card-header">{{ 'explore.index.' + (topSection.titleKey ? topSection.titleKey : topSection.sortField) | translate }}</div>
    </ng-container>
    <ng-template #listView>
      <h3 class="mx-2">{{ 'explore.index.' + (topSection.titleKey ? topSection.titleKey : topSection.sortField) | translate }}</h3>
    </ng-template>
    <div [ngClass]="{'card-body': topSection.showAsCard}">
      <div class="row pl-2" *ngIf="topSection.showLayoutSwitch">
        <div class="col">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="layoutMode">
            <label ngbButtonLabel class="btn-outline-primary">
              <input ngbButton type="radio" [value]="'list'" />
              <i class="fa fa-list-ul" title="List"></i>
            </label>
            <label ngbButtonLabel class="btn-outline-primary">
              <input ngbButton type="radio" [value]="'card'" />
              <i class="fas fa-th-large" title="Cards"></i>
            </label>
          </div>
        </div>
      </div>
      <ds-themed-browse-most-elements [context]="context"
                                      [paginatedSearchOptions]="paginatedSearchOptions"
                                      [topSection]="topSection">
      </ds-themed-browse-most-elements>
    </div>
  </div>
</div>
