<a [routerLink]="(bitstreamPath$| async)?.routerLink" class="dont-break-out" [queryParams]="(bitstreamPath$| async)?.queryParams" [target]="isBlank ? '_blank': '_self'" [ngClass]="cssClasses">
  <span *ngIf="showIcon && !(canDownload$ |async)" class="pr-1"><i class="fas fa-lock text-primary"></i></span>
  <span *ngIf="showIcon && (canDownload$ |async)" class="pr-1"><i class="fas fa-download text-primary"></i></span>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
<a href="javascript:void(0);" *ngIf="(canDownload$ |async) && canPreview" data-test="previewPdf"
  (click)="previewPdf.emit(bitstream)">
  {{ 'cris-layout.attachment.previewPdf' | translate }}
</a>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
