<p class="mt-2">{{'item.edit.tabs.status.description' | translate}}</p>
<div class="row">
  <div *ngFor="let statusKey of statusDataKeys" class="w-100">
    <div class="col-3 float-left status-label">
      {{'item.edit.tabs.status.labels.' + statusKey | translate}}:
    </div>
    <div class="col-9 float-left status-data" id="status-{{statusKey}}">
      {{statusData[statusKey]}}
    </div>
  </div>
  <div class="col-3 float-left status-label">
    {{'item.edit.tabs.status.labels.itemPage' | translate}}:
  </div>
  <div class="col-9 float-left status-data" id="status-itemPage">
    <a [routerLink]="itemPageRoute$ | async">{{itemPageRoute$ | async}}</a>
  </div>
  <div class="w-100 pt-3">
    <div class="col-3 float-left d-flex h-100 action-label">
      <span class="justify-content-center align-self-center">
        {{'item.edit.tabs.status.labels.itemSubmitter' | translate}}: {{itemSubmitterName$ | async}}
      </span>
    </div>
    <div class="col-9 float-left action-button" *ngVar="(itemSubmitterEmail$ | async) as submitterEmail">
      <a class="mr-3"
         target="_blank"
         rel="noopener noreferrer"
         [href]="'mailto:' + submitterEmail">
        {{submitterEmail}}
      </a>
      <button type="button"
              id="change_submitter"
              class="btn btn-outline-primary"
              ngbTooltip="{{'submission.workflow.generic.change-submitter-help' | translate}}"
              (click)="openChangeSubmitterModal(changeSubmitter)">
        {{'submission.workflow.generic.change-submitter' | translate}}
      </button>
    </div>
  </div>
  <div *ngFor="let operation of (operations$ | async)" class="w-100" [ngClass]="{'pt-3': operation}">
    <ds-item-operation *ngIf="operation" [operation]="operation"></ds-item-operation>
  </div>
</div>

<ng-template #changeSubmitter let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-info">{{'submission.workflow.generic.change-submitter.modal.title' | translate}}</h4>
    <button type="button" id="change_submitter_close" class="close" aria-label="Close" (click)="d('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'submission.workflow.generic.change-submitter.modal.info' | translate}}</p>

    <ds-eperson-group-list [isListOfEPerson]="true" (select)="c($event)"></ds-eperson-group-list>

  </div>
  <div class="modal-footer">
    <button type="button" id="change_submitter_cancel" class="btn btn-secondary"
            (click)="d('cancel')">{{'submission.workflow.generic.change-submitter.modal.dismiss' | translate}}</button>
  </div>
</ng-template>
