<div class="thumbs"
     #thumbs
     infiniteScroll
     [fromRoot]="false"
     [infiniteScrollDistance]="2.5"
     [infiniteScrollThrottle]="0"
     [scrollWindow]="false"
     [horizontal]="true"
     (scrolled)="onScrollDown()">

  <div class="thumbs-item" *ngFor="let selectionItem of (mediaSelectionItemList$ | async); let $index = index"
       (click)="emitSelectItem(selectionItem)">
    <img class="img-fluid" alt="no image"
         [src]="selectionItem.thumbnail"/>
    <div *ngIf="selectionItem.sceneTimestamp >= 3600; else only_min_sec" class="thumbs-item-caption">
      {{ selectionItem.sceneTimestamp * 1000 | date:'H:mm:ss':'UTC'}}
    </div>
    <ng-template #only_min_sec>
      <div class="thumbs-item-caption">
        {{ selectionItem.sceneTimestamp * 1000 | date:'mm:ss':'UTC'}}
      </div>
    </ng-template>
  </div>
</div>
